<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cx.hell.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 3 is 1.5 or later, that's more than 99% of devices -->
    <uses-sdk android:minSdkVersion="3" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>